<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="number_of_record_perround" value="5" />
    <add key="number_of_record_round" value="5" /> 
  </appSettings>
  
<connectionStrings>  
   <add name="TMC145" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;userid=root;password=root;database=ecarddb;persistsecurityinfo=True" />  
  <!-- <add name="ETZBK130" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;userid=root;password=root;database=ecarddb2;persistsecurityinfo=True" />  -->
   <add name="ETZBK130" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=ecarddb;User ID=sa;Password=pwd; integrated security=True" />  
</connectionStrings>  

<entityFramework>
  <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
    <parameters>
      <parameter value="mssqllocaldb" />
    </parameters>
  </defaultConnectionFactory>
    <providers>  
        <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />  
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />       
    </providers>  
</entityFramework>  

<system.data>
  <DbProviderFactories>
    <remove invariant="MySql.Data.MySqlClient"></remove>
    <add name="MySQL Data Provider"
      invariant="MySql.Data.MySqlClient"
      description=".Net Framework Data Provider for MySQL"
      type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
    <add name="SqlClient Data Provider"  
     invariant="System.Data.SqlClient"   
     description=".Net Framework Data Provider for SqlServer"   
     type="System.Data.SqlClient.SqlClientFactory, System.Data,   
     Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />  
  </DbProviderFactories>
  </system.data>
</configuration>